* {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  color: #211614;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

