* {
  font-family: "Cardo", serif;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  color: #211614;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
}

em {
  font-size: inherit;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin-block-start: 0;
}

p, li {
  line-height: 1.2;
}

.contact-page {
  display: flex;
  justify-content: space-between;
}

.contact-page-image {
  width: calc(50% - 10px);
}

.contact-page-text {
  width: calc(50% - 10px);
}

.contact-page-text a {
  text-decoration: underline;
}